stim_videos/
node_modules/
sketches/
quality_ratings/
z-multipleCanvasTry/
papers/
outputs/
irb/
z-extra/
z-test/
*.DS_Store
.DS_Store
.DS_Store
.RData
.Rhistory
*.npy
*.json
*.ipynb_checkpoints/
*.pyc
gmail_creds.json
auth.txt
auth.json
history.csv
.Rproj.user
writing/old/
experiments/museumdraw/node_modules/.DS_Store
experiments/museumdraw/.DS_Store
analysis/museumdraw/python/plots/*
analysis/museumdraw/python/features/*
.idea
*.png
*.tex
._*
experiments/photodraw/code/node_modules.zip
experiments/photodraw/code/images.zip
analysis/museumstation/preprocessing-dataset_nov19/z-backup/*
*.zip

analysis/recoggames/2_feature_analyses_sketches/2_run_classifications/classification-outputs-animalgame_C_0.1/*
analysis/museumstation/cogsci-2019/4_run_classifications/classification-outputs-041919-balanced_C_0.1/*
analysis/museumstation/june-2019/4_run_classifications/cdm_run_


writing/CogSci-2019-Submission/figs/*

analysis/museumstation/feature_space_analyses/pythonTest.Rmd
analysis/museumstation/preprocessing/run_classifications/classification-outputs_C_0.1/*
analysis/museumstation/preprocessing/run_classifications/count_classification_outputs.nb.html
analysis/museumstation/preprocessing/run_classifications/compiled_classifications/Classification_Outputs1985.csv
analysis/museumstation/preprocessing/run_classifications/compiled_classifications/Classification_Outputs8498.csv
writing/CogSci-2019-Submission/CogSci-2019-Submission-Trimmed_cache/*
analysis/photodraw2/3_run_classsificatinos/classification-outputs_C_0.1/*
analysis/photodraw2/3_run_classsificatinos/classification-outputs-030719_C_0.1/*

analysis/museumstation/preprocessing/extract_features/z-old/*
analysis/museumstation/preprocessing/run_classifications/z-old/*
writing/CogSci-2019-Submission/CogSci-2019-Submission-Trimmed-Jan31.pdf

analysis/photodraw2/1_get_sketches/descriptives_check.Rmd
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/MuseumStation_AllDescriptives_1507_images_final_CDM_photodraw_e2.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1000_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_100_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1100_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1200_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1300_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1400_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1475_images_final_CDM_photodraw_e2.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1475_images_final_CDM_photodraw_e2_no_blanks.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1500_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_200_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_300_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_400_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_500_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_600_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_700_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/data_020519/photodraw2_descriptives/Photodraw2_AllDescriptives_1475_images_final_CDM_photodraw_e2.csv
analysis/photodraw2/1_get_sketches/data_020519/photodraw2_descriptives/Photodraw2_AllDescriptives_1475_images_final_CDM_photodraw_e2_no_blanks.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1475_images_final_CDM_photodraw_e2.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1475_images_final_CDM_photodraw_e2_no_blanks.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_800_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_900_images_CDM_photodraw_e2_start_0.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1475_images_final_CDM_photodraw_e2.csv
analysis/photodraw2/1_get_sketches/photodraw2_descriptives/Photodraw2_AllDescriptives_1475_images_final_CDM_photodraw_e2_no_blanks.csv

writing/CogSci-2019-Submission/z-old/CogSci_RoughDraft.Rmd

analysis/bingstation/descriptives_check.Rmd
analysis/bingstation/descriptives_check.html
analysis/bingstation/descriptives/March27_bing_usage.csv
analysis/bingstation/descriptives/all_active_bing_kids_classrooms.csv

analysis/recoggames/2_feature_analyses_sketches/2_run_classifications/classification-outputs-vehiclegame_C_0.1/*
analysis/bingstation/descriptives/June26_bing_usage.csv
analysis/bingstation/preprocess_bingstation.ipynb
analysis/bingstation/Usage_by_child.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_100_images_cdm_run_v6_start_11400.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_200_images_cdm_run_v6_start_11400.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_300_images_cdm_run_v6_start_11400.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_400_images_cdm_run_v6_start_11400.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_500_images_cdm_run_v6_start_11400.csv
analysis/museumstation/preprocessing/usage_stats/conn_cocolab
analysis/bingstation/preprocess_bingstation.ipynb
analysis/bingstation/preprocess_bingstation 2.ipynb
