
# auth files
auth.txt
auth.json

# big folders
stim_videos/
node_modules/
sketches/
quality_ratings/
z-multipleCanvasTry/
papers/
outputs/
irb/

# paper figures -- pdfs/ai files
writing/paper_figures/*

# any classification outputs
classification-outputs_C_0.1/*
data/classification_outputs/*
analysis/cogsci-2019/4_run_classifications/classification-outputs_C_0.1/*
analysis/cogsci-2019/4_run_classifications/classification-outputs-041919-balanced_C_0.1/*

# old stuff
z-extra/*
z-test/*
z-old/*
z-backup/*
experiments/ratings/recognition_ratings_cogsci2018/experiment/z-test/*
analysis/cogsci-2019/2_filtering_nov19/z-backup/z-intermediate-saves/*
analysis/cogsci-2019/2_filtering_nov19/z-backup/*
analysis/museumstation/cogsci-2019/2_filtering_nov19/z-backup/

# old plots
analysis/cogsci-2019/5_feature_space_analyses/plots-dec5/*
analysis/museumstation/5_feature_space_analyses/plots/*
# ds_store
*.DS_Store
.DS_Store
.DS_Store

.RData
.Rhistory

# not using
experiments/ratings/often_seen_ratings_external_save/*
experiments/ratings/often_seen_ratings/*

*.npy
*.json
*.ipynb_checkpoints/
*.pyc

gmail_creds.json


history.csv
.Rproj.user
writing/old/

experiments/museumdraw/node_modules/.DS_Store
experiments/museumdraw/.DS_Store
analysis/museumdraw/python/plots/*
analysis/museumdraw/python/features/*

.idea
*.png
*.tex
._*
experiments/photodraw/code/node_modules.zip
experiments/photodraw/code/images.zip
analysis/museumstation/preprocessing-dataset_nov19/z-backup/*
*.zip

analysis/recoggames/2_feature_analyses_sketches/2_run_classifications/classification-outputs-animalgame_C_0.1/*
analysis/museumstation/cogsci-2019/4_run_classifications/classification-outputs-041919-balanced_C_0.1/*
analysis/museumstation/june-2019/4_run_classifications/cdm_run_


writing/cogsci-2019/z-old/*
writing/cogsci-2019/figs/*
writing/cogsci-2019//CogSci-2019-Submission-Trimmed_cache/*


analysis/museumstation/preprocessing/extract_features/z-old/*
analysis/museumstation/preprocessing/run_classifications/z-old/*
writing/CogSci-2019-Submission/CogSci-2019-Submission-Trimmed-Jan31.pdf



writing/CogSci-2019-Submission/z-old/CogSci_RoughDraft.Rmd

analysis/bingstation/descriptives_check.Rmd
analysis/bingstation/descriptives_check.html
analysis/bingstation/descriptives/March27_bing_usage.csv
analysis/bingstation/descriptives/all_active_bing_kids_classrooms.csv

analysis/recoggames/2_feature_analyses_sketches/2_run_classifications/classification-outputs-vehiclegame_C_0.1/*
analysis/bingstation/descriptives/June26_bing_usage.csv
analysis/bingstation/preprocess_bingstation.ipynb
analysis/bingstation/Usage_by_child.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_100_images_cdm_run_v6_start_11400.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_200_images_cdm_run_v6_start_11400.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_300_images_cdm_run_v6_start_11400.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_400_images_cdm_run_v6_start_11400.csv
analysis/museumstation/june-2019/1_get_sketches/cdm_run_v6/sketches_descriptives/MuseumStation_AllDescriptives_500_images_cdm_run_v6_start_11400.csv
analysis/museumstation/preprocessing/usage_stats/conn_cocolab
analysis/bingstation/preprocess_bingstation.ipynb
analysis/bingstation/preprocess_bingstation 2.ipynb


/Users/brialong/Documents/GitHub/kiddraw/analysis/cogsci-2019/4_run_classifications/classification-outputs_C_0.1/museumstation_subset_classification_ind_3581.csv

analysis/recoggames/2_feature_analyses_sketches/2_run_classifications/classification_outputs/* 

experiments/museumdraw/.DS_Store
experiments/museumdraw/.DS_Store
experiments/museumdraw/.DS_Store
nextsteps.txt
old_gitignore.exclude
experiments/museumdraw/.DS_Store
experiments/museumdraw/.DS_Store
analysis/museumstation/cogsci-2019/6_render_sketch_examples/old.Rmd
data/z_gallerize_dataset/script.js
data/z_gallerize_dataset/layout.css
data/z_gallerize_dataset/index.html
data/z_gallerize_dataset/images/thankyou.jpg
data/z_gallerize_dataset/images/stop.jpg
data/z_gallerize_dataset/images/play3.jpg
data/z_gallerize_dataset/images/play.svg
data/z_gallerize_dataset/images/play.jpg
data/z_gallerize_dataset/images/play-button_318-42541.jpg
data/z_gallerize_dataset/images/play past.jpg
data/z_gallerize_dataset/images/goldstar.jpeg
data/z_gallerize_dataset/images/cattest.jpg
analysis/museumstation/6_run_classifications/_bash/run_classifications_shell
data/compiled_classifications/batchtotal_149.csv
data/compiled_classifications/batchtotal_18.csv
data/compiled_classifications/batchtotal_230.csv
data/compiled_classifications/C_0.1_T_0.1batchtotal_231.csv
