stim_videos/
node_modules/
sketches/
quality_ratings/
z-multipleCanvasTry/
papers/
outputs/
irb/
z-extra/
z-test/
*.DS_Store
.DS_Store
.DS_Store
.RData
.Rhistory
*.npy
*.json
*.ipynb_checkpoints/
*.pyc
gmail_creds.json
auth.txt
auth.json
history.csv
.Rproj.user
writing/old/
experiments/museumdraw/node_modules/.DS_Store
experiments/museumdraw/.DS_Store
analysis/museumdraw/python/plots/*
analysis/museumdraw/python/features/*
.idea
*.png
._*
experiments/photodraw/code/node_modules.zip
experiments/photodraw/code/images.zip
analysis/museumstation/preprocessing-dataset_nov19/z-backup/*
*.zip
analysis/museumstation/feature_space_analyses/pythonTest.Rmd
analysis/museumstation/preprocessing/run_classifications/classification-outputs_C_0.1/*
analysis/museumstation/preprocessing/run_classifications/count_classification_outputs.nb.html
data/cogsci_2019/classification-outputs/Classification_Outputs1985.csv
data/cogsci_2019/*
analysis/museumstation/preprocessing/run_classifications/compiled_classifications/Classification_Outputs1985.csv
analysis/museumstation/preprocessing/run_classifications/compiled_classifications/Classification_Outputs8498.csv
