body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button {
    font-family: "Schoolbell", cursive;
    /*background: url(images/button-gradient.png);*/
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    padding-left: 5px;
    padding-right: 5px;
    /*height: 50px;*/
    min-width: 150px;
}

button:active {
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    background: none;
    background-color: #c9c9c9;
}

button[disabled] {
    background: url(zen-button.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    cursor: not-allowed;
}

.square{
    padding-top:15px;
    padding-bottom:15px;
}

.counter_balancing {
    margin-left: 37vw;
    margin-top: 16vh;
}

.cbButton {
    font-size: 4vw;
    text-align:center;
    font-family: Schoolbell,cursive;
    font-style: italic;
    margin: 10px;
}

.ageButton {
    font-size: 4vw;
    text-align:center;
    font-family: Schoolbell,cursive;
    font-style: italic;
    margin: 10px;
}

.btn-warning{
    background-color:#F7E293;
}

.progress-bar{
    -webkit-transition: none !important;
    transition: none !important;
}

.slideButton {
    /*position: absolute;*/
    margin: auto;
    right:0;left:0;
    bottom: 10%;
    /*width:280px;*/
    text-align: center;
    /*margin-top:8vw;*/
}

.startButton{
    width:15vw;
    height:auto;
    margin-top:2vw;
}

.imageButton:hover{
    cursor:pointer;
    /*transform: scale(1.1);*/
}

.buttonDescription{
    font-family: Schoolbell,cursive;
    font-size: 4vw;
    text-align:center;
}

.drawingButton{
    font-family: Schoolbell,cursive;
    font-size: 3vw;
    margin-top:3vh;
    text-align:center;
    cursor:pointer;
}

.drawingButton>img{
    width:7vw;
    height:auto;
}

#consent {
    text-align: left;
    height: 420px;
    width: 700px;
    position: relative;
    margin: auto;
    float:top;
    top: 20vh;
    border: solid 5px #999;
}

.bufferSlides {
    height: auto;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto ;
    left:0; right:0; top:10%; bottom: 0;
    font-size: 1em;
    position: absolute;
}

#drawingIcon {
    margin:auto;
    display:block;
}

#consentText {
    bottom: 15%;
    font-size: 1.5vw;
    padding: 3vw;
}

.welcomeHeader {
    margin: auto;
    margin-top: 4vh;
    margin-bottom:3vh;
    text-align: center;
}
.welcomeHeader2 {
    margin: auto;
    margin-top: 2vh;
    margin-bottom:3vh;
    text-align: center;
}

#sketchpad {
    /*position: absolute;*/
    /*top: 20vh;*/
    /*left: 2.5%;*/
    border: solid 5px #999;
    display: block;
    margin-left: 4vw;
    margin-top: 0.5vh;
}

#kidConsent {
    /*position: absolute;*/
    top: 20vh;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    border: solid 5px #999;
    text-align: center;
    margin-top: 3vh;
}

#consentDraw {
    position: absolute;
    background: #ffffff;
    left: 15%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border: solid 5px #999;
}

#ageDraw {
    position: absolute;
    right: 48%;
    top: 5%;
    width: 80px;
    height: 80px;
    background: #ffffff;
    border: solid 5px #999;
}

#submit_div {
    text-align:center;
    /*top:5%;*/
    left:0;
    right:0;
    margin-top:4vh;
    /*position:absolute;*/
}

#cue {
    font-size: 5vw;
    text-align:center;
    left: 0;
    right: 0;
    margin: auto;
    font-family: Schoolbell,cursive;
    margin-top:3vh;
    margin-bottom:2vh;
}

#drawingCue{
    font-size: 4vw;
    text-align:center;
    left: 0;
    right: 0;
    margin: auto;
    /*margin-bottom:1vh;*/
    /* margin-top:-12vh; */
    font-family: Schoolbell,cursive;

}

/* #cueVideo {

    width:40vw;
    height:40vw;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin:4vw;
    margin-top:8vh;
    touch-action: none;
    
    overflow:hidden;
    display:block;

}

.videoDiv {
    margin: auto;
    top: 3vw;
    right:0;
    left:0;
    top:0;
    bottom:0;
    touch-action: none;
} */

.videoDiv{
    width: 53vh;
    overflow:hidden;
    display:block;
    height: 53vh;

    right:0;
    left:0;
    top:0;
    bottom:0;

    margin-left: 3vw;
    margin-top:6vh;
}
#cueVideo{
    margin-left: -20vw;
}

#ready {
    font-size: 1em;
    position:absolute;
    left:40%;
    top: 25%;
}

#iam {
    position:absolute;
    left:28%;
    top: 5%;
}


#checkConsent {
    /*position: absolute;*/
    background: #ffffff;
    left: 25%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border: solid 5px #999;
}


#yearsold {
    position:absolute;
    left:55%;
    top: 5%;
}

#mainExp {
    position:absolute;
    height: 100%;
    width: 100%;
}


#progressBar {
    width: 90%;
    margin: 3vw;
    height: 2vw;
    background-color: #0A5F44;
    position: absolute;
    left: 0;
    right:0;
    bottom: 2%;
}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 1vw; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #CBEA00;
    box-sizing: border-box;
    left: 0;
    right:0;
    bottom: 2%;

}

.progress{
    padding-left:0px;
    padding-right:0px;
    height: 2vw;
    margin-bottom: 2vw;
    font-size:2vw;
}

.allDone {
    font-size: 3vw;
    font-family: Schoolbell,cursive;
    cursor:pointer
}

#restartExp{
    margin-top:10vw;
    text-align:center;
    font-size: 4vw;
    font-family: Schoolbell,cursive;
}


#keepGoing {
    margin-right: 2vw;
    font-family: Schoolbell,cursive;
    cursor:pointer;
}


#startConsent {
    /*width: 50%;*/
    display: block;
    margin: auto;
    cursor:pointer;
    margin-top:4vh;
}

#logo-text {
    font-weight: bold;
    font-style: italic;
    font-size:3vw;
    margin-top:1vh;

}
#stanfordLogo{
    text-align:center;
    width:20vw;
    
}

#parentEmail{
    font-size:2vw;
}

#sendEmail{
    font-size:1.5vw;
}

#emailSent{
    font-size:1.5vw;
}

.startExp{
    font-size: 4vw;
    font-family: Schoolbell,cursive;
    font-style: italic;
}

.vjs-nofull .vjs-fullscreen-control {
    display:none;
}

.bounce {
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%, 50%, 100%       {transform: translateY(0vh);}
  25%      {transform: translateY(-1.5vh);}
  75%      {transform: translateY(1.5vh);}
}

.nameInput{
    width: 30vw;
    margin: auto;
    font-size: 4vw;
    color: #128395;
}

.nameForm{
    margin-top:2vh;
    margin-bottom: 2vh;
}

#bingName{
    font-family: Schoolbell,cursive;
    font-size:4vw;
    text-align:center
}

#smile{
    width:20vw;
    height:auto;
    margin:auto;
}

#bingRestart{
    font-family: Schoolbell,cursive;
    font-size:4vw;
    text-align:center;
    margin-top:5vh;
}

#langOptions{
    text-align:center;
    padding:5vh;
}

.langButton{
    margin:auto;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:5vh;
    font-family: Schoolbell,cursive;
    width: 40vw;
}

#aroundSketchpad {
    display: flex;
    text-align: center;
    justify-content: center;
}

#photocue{
    width: auto;
    height: 60vh;
    margin-top: 8vh;
    /* border: solid 5px #999; */

}
