#main {
	height: auto;
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto ;
	left:0; right:0; top:10%; bottom: 0;
	position: absolute;
}

#sketchpad {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 4vh;
    right:0;left:0;
    float: top;
    margin: auto;
    background: #ffffff;
    border: solid 5px #999;
}


#instructions {
    position:fixed;
    width: 500px;
    height: 64px;
    position: absolute;
    top: 1vh;
    right:0;left:0;
    float: top;
    margin: auto;    
}

#submit {
    font-size:20;
    position:absolute;
    float:center;
    margin: 0 auto;
}

#cue {
    font-size:20;
    position:absolute;
    float:center;
    margin: 0 auto;
}

#ready {
    font-size:20;
    position:absolute;
    float:center;
    margin: 0 auto;

}