body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
}

.button {
  font-family: "HelveticaNeue-Light";
  background: url(images/button-gradient.png);
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  min-width: 70px;
}

.button:active {
  border-left: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
  background: none;
  background-color: #c9c9c9;
}

.button[disabled] {
  background: url(zen-button.png);
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  cursor: not-allowed;
}

#logo-text {
  font-weight: bold;
}

#cueVideo {
    position: absolute;
    top: 12vh;
    right:0;left:0;
    float: top;
    background: #ffffff;
    border: solid 5px #999;
    float:center;
}

.bufferSlides {
	height: auto;
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto ;
	left:0; right:0; top:10%; bottom: 0;
  font-size: 1em;
	position: absolute;
}

#sketchpad {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 12vh;
    right:0;left:0;
    float: top;
    margin: auto;
    background: #ffffff;
    border: solid 5px #999;
}

#submit {
    margin: auto;
    text-align:center
}

#cue {
    margin: auto;
    text-align:center
}

#ready {
   position:absolute;
   left:0;
}

#allDone {
   position:absolute;
   right:0;
}

#mainExp {
  position:relative;
  width: 1000px;
  height: 800px;
}

.video-js .vjs-control-bar {
 display:none!important; 
}

.video-js .vjs-big-play-button {
    display: none;
}


